<h1>WOAH! How did you get here? This is the secret page...</h1>


<img src="https://qph.ec.quoracdn.net/main-qimg-d756de0b0668a31fbb7a8b15f7f389a3-c">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>